<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/themes/dataswarm/css/bootstrap.css" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="/assets/themes/dataswarm/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ ASSET_PATH }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="http://dataswarm.io/favicon.ico" />
  </head>

  <body id="page-top" class="index">
    
    {% include themes/dataswarm/_navigation.html %}

    {{ content }}
    
    {% include JB/analytics %}
    
    <!-- jQuery -->
    <script src="/assets/themes/dataswarm/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/themes/dataswarm/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/assets/themes/dataswarm/js/classie.js"></script>
    <script src="/assets/themes/dataswarm/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/assets/themes/dataswarm/js/jqBootstrapValidation.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="/assets/themes/dataswarm/js/freelancer.js"></script>
  </body>
</html>
